table{
    border-collapse: collapse;
    border: 14px solid black;
    margin: 20px auto;
}

td{
    border: 12px solid black;
    width: 80px;
    height: 80px;
    padding: 0;
}

.white{
    background: white;
}

.red{
    background: red;
}

.yellow{
    background: yellow;
}

.blue{
    background: blue;
}

.black{
    background: black;
}